[keyboard]
name = "Corne RMK"
product_name = "Corne42 rmk"
vendor_id = 0x4653
product_id = 0x0001
manufacturer = "BHE-ergo"
board = "nice!nano_v2"
vial_json = "vial_corne.json"

[aliases]
Bt1 = "User0"
Bt2 = "User1"
Bt3 = "User2"
BtNext = "User3"
BtPre = "User4"
BtClear = "User5"
BtUsb = "User6"

[layout]

matrix_map = """
            (0,0) (0,1) (0,2) (0,3) (0,4) (0,5)            (4,5) (4,4) (4,3) (4,2) (4,1) (4,0) 
            (1,0) (1,1) (1,2) (1,3) (1,4) (1,5)            (5,5) (5,4) (5,3) (5,2) (5,1) (5,0) 
            (2,0) (2,1) (2,2) (2,3) (2,4) (2,5)            (6,5) (6,4) (6,3) (6,2) (6,1) (6,0) 
                              (3,3) (3,4) (3,5)            (7,5) (7,4) (7,3)
"""
rows = 8
cols = 6
layers = 8


[[layer]]
#layer-0
name = "Qwer-Mac"
keys = """
        Tab Q W E R T                                                                            Y U I O P CapsLock
        LCtrl A HMR(S,LAlt) HMR(D,LShift) F G                 H J HMR(K,RShift) HMR(L,RAlt) SHIFTED(Semicolon) RCtrl
        LGui Z X C V B                                                             N M Comma Dot SHIFTED(Slash) RGui
             LT(2,Escape) LT(6,Space) LT(3,Backslash)         SHIFTED(Quote) LT(4,Enter) LT(5,Backspace)
"""

[[layer]]
#layer-1
name = "Qwer-Win"
keys = """
        Tab Q W E R T                                                                            Y U I O P CapsLock
        LCtrl A HMR(S,LAlt) HMR(D,LShift) F G                 H J HMR(K,RShift) HMR(L,RAlt) SHIFTED(Semicolon) RCtrl
        LGui Z X C V B                                                             N M Comma Dot SHIFTED(Slash) RGui
             LT(2,Escape) LT(7,Space) LT(3,Backslash)         SHIFTED(Quote) LT(4,Enter) LT(5,Backspace)
"""
[[layer]]
#layer-2
name = "Fun"
keys = """
        No @Bt1 @Bt2 @Bt3 No No                               F10 F7 F8 F9 No No
        __ No No No No No                                     F11 F4 F5 F6 No No
        __ @BtClear @BtClear No OutputBluetooth OutputUsb     F12 F1 F2 F3 TO(0) TO(1)
                              No No No                        No No Delete
"""

[[layer]]
#layer-3
name = "Nav"
keys = """
        __ No Home Up End No                                  No No No No No No
        __ No Left Down Right No                              No No No No No No
        __ No PageDown No PageUp No                           No No No No No No
                              No No No                        No No No
"""
[[layer]]
#layer-4
name = "Num"
keys = """
        __ No 7 8 9 0                                         
        __ Slash 4 5 6 Minus                                           TG(1) TO(0) __ __ __ TG(1)
        __ Quote 1 2 3 Equal                                           __ __ __ __ __ CapsLock
                               __ __ __                               __ __ Kc4
"""
[[layer]]
#layer 5 - Navigation
name = "navigation_layer"
keys = """
        __ __ __ MouseUp PageUp PageDown                            MouseBtn1 MouseBtn3 MouseBtn2 MouseWheelUp MouseWheelDown __
        __ __ MouseLeft MouseDown MouseRight MouseWheelUp           Left Down Up Right __ __
        __ __ __ __ __ MouseWheelDown                               __ __ __ __ __ __
                               MO(7) __ __                          __ __ Kc5
"""

[[layer]]
#layer 6 - Number/Keypad
name = "number_layer"
keys = """
        MO(7) __ __ __ __ __                                        Kp7 Kp8 Kp9 KpMinus KpAsterisk __
        __ __ __ __ __ __                                           Kp4 Kp5 Kp6 KpPlus KpSlash __
        __ __ __ __ __ __                                           Kp1 Kp2 Kp3 __ __ __
                               __ __ __                             Kp0 KpDot Kp0
"""

[[layer]]
#layer 7 - Debug
name = "debug_layer"
keys = """
        __ __ __ __ __ __                                           __ __ __ __ __ __
        __ __ __ __ __ __                                           __ __ __ __ __ __
        __ __ __ __ __ Bootloader                                   Bootloader __ __ __ __ __
                               __ __ __                               __ __ Kc7
"""

[storage]

enabled = true
# Set `clear_storage` to true to clear all the stored info when the keyboard boots
clear_storage = false

[ble]

enabled = true

#battery config for nicenano
battery_adc_pin = "vddh"
adc_divider_measured = 2000
adc_divider_total = 2806
default_tx_power = 8

[behavior]

tap_hold = { enable_hrm = true, permissive_hold = true, chordal_hold = true, prior_idle_time = "100ms", hold_on_other_press = false, hold_timeout = "220ms" }

[split]

connection = "ble"

[split.central]

rows = 4
cols = 6
row_offset = 0
col_offset = 0
ble_addr = [0x18, 0xe2, 0x21, 0x80, 0xc0, 0xc7]

[split.central.matrix]

## promicro pin: 4 5 6 7
input_pins = ["P0_22", "P0_24", "P1_00", "P0_11"]
## promicro pin: 21 20 19 18 15 14
output_pins = ["P0_31", "P0_29", "P0_02", "P1_15", "P1_13", "P1_11"]

[[split.peripheral]]

rows = 4
cols = 6
row_offset = 4
col_offset = 0
ble_addr = [0x7e, 0xfe, 0x73, 0x9e, 0x66, 0xe3]

[split.peripheral.matrix]

## promicro pin: 4 5 6 7
input_pins = ["P0_22", "P0_24", "P1_00", "P0_11"]
## promicro pin: 21 20 19 18 15 14
output_pins = ["P0_31", "P0_29", "P0_02", "P1_15", "P1_13", "P1_11"]


[rmk]
# Mouse key interval (ms) - controls mouse movement speed
mouse_key_interval = 20
# Mouse wheel interval (ms) - controls scrolling speed
mouse_wheel_interval = 80
debounce_time = 3
ble_profiles_num = 3
