name: Build firmware according to user config file
on:
  workflow_call:
  workflow_dispatch:
    inputs:
      profile:
        description: "profile for make"
        default: "corne"
        required: true
        type: string
      keyboard_toml_path:
        description: "Path to the keyboard.toml"
        default: "keyboard.toml"
        required: false
        type: string
      vial_json_path:
        description: "Path to the vial.json"
        default: "vial.json"
        required: false
        type: string
env:
  LIBSSL: "libssl1.1_1.1.1f-1ubuntu2_amd64.deb"
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        profile: [corne, cornix, keyball61, velvet]
      fail-fast: false
    steps:
      - uses: cargo-bins/cargo-binstall@main
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            libssl*.deb
          key: ${{ runner.os }}-libssl
      - name: Install libssl
        run: |
          [ ! -f $LIBSSL ] && wget http://nz2.archive.ubuntu.com/ubuntu/pool/main/o/openssl/$LIBSSL
          sudo dpkg -i $LIBSSL
      - name: Install rmkit, flip-link and cargo-make
        run: cargo binstall cargo-make rmkit flip-link -y
      - name: Build uf2 firmware
        working-directory: .
        run: cargo make -p ${{ matrix.profile }} uf2
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware_${{ matrix.profile }}_uf2
          path: ./*.uf2
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware_${{ matrix.profile }}_hex
          path: ./*.hex
