name: Build RMK firmware
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  # build:
  #   uses: haobogu/rmk/.github/workflows/user_build.yml@main
  #   with:
  #     keyboard_toml_path: "keyboard.toml"
  #     vial_json_path: "vial.json"
  build_cornix:
    uses: haobogu/rmk/.github/workflows/user_build.yml@main
    with:
      keyboard_toml_path: "keyboard_cornix.toml"
      vial_json_path: "vial_cornix.json"
